@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="BeforeLoginApp">
    <head>
        <meta charset="UTF-8">
        <title>Made To Earn</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <link href="../../Template/AdminLTE-master/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="../../Template/AdminLTE-master/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="../../Template/AdminLTE-master/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="../../Template/AdminLTE-master/css/AdminLTE.css" rel="stylesheet" type="text/css" />
        <!-- Bootstrap switch -->        
        <link href="../../Template/AdminLTE-master/css/bootstrap-switch.css" rel="stylesheet">
        <!-- toast message -->        
        <link href="../../App/third-Party/toastmessage/css/jquery.toastmessage.css" rel="stylesheet">      
        
        <script src="../../App/Property/m2eProperties.js" type="text/javascript"></script>

        <script src="../../App/js/jquery.min.js"></script>
        <script src="../../App/js/angular.min.js" type="text/javascript"></script>
        <script src="../../App/Pages/BeforeLogin/Controller/beforeLoginApp.js" type="text/javascript"></script>
        <script src="../../App/js/angular-cookies.js" type="text/javascript"></script>        
        <script src="../../App/js/googleAnalytics.js" type="text/javascript"></script>        
        <script src="../../App/third-Party/toastmessage/js/jquery.toastmessage.js" type="text/javascript"></script>
        <script src="../../App/js/toastMessage.js" type="text/javascript"></script>                   
        <script src="../../App/js/jquery.cookie.js"></script>
        <script src="../../App/js/jquery.blockUI.js"></script>
        		
        <script src="../../App/Pages/BeforeLogin/Index/index.js" type="text/javascript"></script>
        <script src="../../App/Pages/BeforeLogin/FAQ/FAQ.js" type="text/javascript"></script>		
        <script src="../../App/Pages/BeforeLogin/Login/Login.js" type="text/javascript"></script>		
        <script src="../../App/Pages/BeforeLogin/Controller/common/CookieService.js" type="text/javascript"></script>
        <script src="../../App/Pages/BeforeLogin/SignUpClient/SignUpClient.js" type="text/javascript"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="skin-blue" ng-controller="beforeLoginMasterPageController" id="BodyId">
        <!-- header logo: style can be found in header.less -->
        <header class="header">            
            <!-- Header Navbar: style can be found in header.less -->
            <nav role="navigation" class="navbar navbar-static-top-header" style="margin-left: 0;">
                <!-- Sidebar toggle button-->                                
                <div class="container">
                    <div>                       
                        <a class="navbar-brand-logo googleAnalytics" href="#" ga-category="BeforeLogin" ga-event="CompanyLogo" ga-label="Click"><img src={{logoImage.url}} alt="Logo" width="125" height="39" /></a>
                    </div>
                    <div>                
                        <div class=" navbar-right googleAnalytics" style="line-height: 37px;" ga-category="BeforeLogin" ga-event="Login" ga-label="web" method="post" action="/Account/Login/web">
                            <a class="googleAnalytics" href="#/AboutUs" ga-category="BeforeLogin" ga-event="What is M2E" ga-label="LinkClick"><span style="color: #d6d6d6; font-size: 16px; font-weight: normal;">What is M2E?</span></a>
                            <a class="googleAnalytics" href="#/login" ga-category="BeforeLogin" ga-event="Sign In Link Clicked" ga-label="LinkClick"><span style="color: #d6d6d6; font-size: 16px; font-weight: normal; margin-left: 10px;">Sign In</span></a>
                        </div>
                    </div>
                </div>                                                                                
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left" style="min-height: 317px;" ng-view>           
        </div>       
        
     <div id="footer">
         <div class="container">
             <div class="text-muted credit">
                 <div style="float: left; margin-left: 0px;font-size: 16px">
                     <span>©2014  {{beforeLoginFooterCopyRightInfo.companyName}}
                         <span style="margin-left: 10px; padding-left: 10px;"><a href="" class="googleAnalytics" ga-category="BeforeLogin" ga-event="ContactUsBottonLink" ga-label="Click">Contact us</a></span>
                         <span style="margin-left: 4px; padding-left: 10px;">|</span>
                         <span style="margin-left: 4px; padding-left: 10px;"><a href="#/faq" class="googleAnalytics" ga-category="BeforeLogin" ga-event="FAQBottonLink" ga-label="Click">FAQ</a></span>
                         <span style="margin-left: 4px; padding-left: 10px;">|</span>
                         <span style="margin-left: 4px; padding-left: 10px;"><a href="" class="googleAnalytics" ga-category="BeforeLogin" ga-event="ReportBugBottonLink" ga-label="Click">Report a bug</a></span>
                         <span style="margin-left: 4px; padding-left: 10px;">|</span>
                         <span style="margin-left: 4px; padding-left: 10px;"><a href="" class="googleAnalytics" ga-category="BeforeLogin" ga-event="Terms&PrivacyBottonLink" ga-label="Click">Terms & Privacy</a></span>
                         <span style="margin-left: 4px; padding-left: 10px;">|</span>
                        <span style="margin-left: 4px; padding-left: 10px;"><a href="" class="googleAnalytics" ga-category="BeforeLogin" ga-event="Feedback&SuggestionsBottonLink" ga-label="Click">Feedback & Suggestions</a></span> 
                     </span> 
                 </div>
             </div>
         </div>
    </div>
        <!-- Bootstrap -->
        <script src="../../Template/AdminLTE-master/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Bootstrap Switch-->
        <script src="../../Template/AdminLTE-master/js/bootstrap-switch.js"></script>
        <!-- AdminLTE App -->
        <script src="../../Template/AdminLTE-master/js/AdminLTE/app.js" type="text/javascript"></script>
		   
    </body>
</html>