@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="BeforeLoginApp">
    <head>
        <meta charset="UTF-8">
        <title>AdminLTE | Dashboard</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <link href="../../Template/AdminLTE-master/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="../../Template/AdminLTE-master/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="../../Template/AdminLTE-master/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="../../Template/AdminLTE-master/css/AdminLTE.css" rel="stylesheet" type="text/css" />
        
		<script src="../../App/Property/m2eProperties.js" type="text/javascript"></script>

        <script src="../../App/js/jquery.min.js"></script>
        <script src="../../App/js/angular.min.js" type="text/javascript"></script>
        <script src="../../App/Pages/BeforeLogin/Controller/beforeLoginApp.js" type="text/javascript"></script>
        <script src="../../App/js/angular-cookies.js" type="text/javascript"></script>        
        <script src="../../App/js/googleAnalytics.js" type="text/javascript"></script>        
        <script src="../../App/js/jquery.blockUI.js"></script>
        <script src="../../App/js/jquery.cookie.js"></script>
        		
        <script src="../../App/Pages/BeforeLogin/index/index.js" type="text/javascript"></script>
		<script src="../../App/Pages/BeforeLogin/FAQ/FAQ.js" type="text/javascript"></script>		
        <script src="../../App/Pages/BeforeLogin/Controller/common/CookieService.js" type="text/javascript"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="skin-blue" ng-controller="beforeLoginIndex">
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            
            <!-- Header Navbar: style can be found in header.less -->
            <nav role="navigation" class="navbar navbar-static-top-header" style="margin-left: 0;">
                <!-- Sidebar toggle button-->
                
                
                <div class="container">
                    <div>                       
                        <a class="navbar-brand-logo googleAnalytics" href="#" ga-category="BeforeLogin" ga-event="CompanyLogo" ga-label="Click"><img src={{logoImage.url}} alt="Logo" width="125" height="39" /></a>
                    </div>
                    <div>
                
                        <div class=" navbar-right googleAnalytics" style="line-height: 37px;" ga-category="BeforeLogin" ga-event="Login" ga-label="web" method="post" action="/Account/Login/web">

                            <a class="googleAnalytics" href="#/AboutUs" ga-category="BeforeLogin" ga-event="What is M2E" ga-label="LinkClick"><span style="color: #d6d6d6; font-size: 16px; font-weight: normal;">What is M2E?</span></a>
                            <a class="googleAnalytics" href="#/login" ga-category="BeforeLogin" ga-event="Sign In Link Clicked" ga-label="LinkClick"><span style="color: #d6d6d6; margin-left: 10px;font-size: 16px; font-weight: normal;">Sign In</span></a>

                        </div>
                    </div>


                </div>
                
                
                                                
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left" style="min-height: 317px;" ng-view>
           
        </div>

        <!-- Bootstrap -->
        <script src="../../Template/AdminLTE-master/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- AdminLTE App -->
        <script src="../../Template/AdminLTE-master/js/AdminLTE/app.js" type="text/javascript"></script>        
    </body>
</html>