<div class="form-box" id="login-box" ng-controller="signUpClientController">
    <div class="header">Register New Membership</div>
    <form>
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" name="name" class="form-control" ng-model="ClientFormData.FirstName" placeholder="Firstname">
            </div>
            <div class="form-group">
                <input type="text" name="name" class="form-control" ng-model="ClientFormData.LastName" placeholder="Lastname">
            </div>
            <div class="form-group">
                <input type="text" name="userid" class="form-control" ng-model="ClientFormData.EmailId" placeholder="Email ID">
                <div class="alert alert-danger alert-dismissable" ng-show="EmailIdAlert.visible" style="margin-left: 0;">                                                                               
                                        {{EmailIdAlert.message}}
                                    </div>
            </div>            
            <div class="form-group">
                <input type="password" name="password" class="form-control" ng-model="ClientFormData.Password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" name="password2" class="form-control" ng-model="ClientFormData.ConfirmPassword" placeholder="Retype password">
            </div>
            <div class="alert alert-danger alert-dismissable"  ng-show="PasswordAlert.visible" style="margin-left: 0;">                                                                               
                                        {{PasswordAlert.message}}
                                    </div>
            <div class="form-group">
                Want to Register as a Company? <div style="float:right"><input type="checkbox" name="sliding_client_company_checkbox"  data-size="small" data-on-text="yes" data-off-text="no"></div>
            </div>
            <div class="form-group" id="client_signup_company_textBox_id">
                <input type="text" name="userid" class="form-control" ng-model="ClientFormData.CompanyName" placeholder="Company Name">
            </div>
        </div>
        <div class="footer">                                
            <button type="submit" ng-click="ClientSignUp()" class="btn bg-olive btn-block">Sign me up</button>                       
            <a href="login.html" class="text-center">I already have a membership</a>
        </div>
    </form>

    <div class="margin text-center">
        <span>Register using social networks</span>
        <br>
        <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
        <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
        <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>

    </div>    
</div>